.login{
   
    color:"#39395f";
   

}
.login:visited{
    text-decoration: none; 
    
}
.register{
    
    text-decoration: none;
    
}

ul{
    list-style-type: none;
}

body{
    background-color: #f5eec2;
}
textarea{
    resize: none;
}

#form{
    width: 222px;
    padding-inline: 27px;
}
#logInForm{
    background-color: white;
    text-align: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 23px;
    margin: 65px 70px;
    max-height: 124px;

}
#registerStyle
{     background-color: white;
    text-align: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 23px;
    margin: 65px 70px;
    max-height: 250px;

}